# ANTLR
src/antlr/gen/
*.jar
java_tree/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# System
.DS_Store
*.swp

# IDE
.vscode/
.idea/

*.egg-info/

# extra
/grammar/antlr-*-complete.jar

/logs
/plots
/multiplerun
/GUI/performance_tests
/docs/diagrams
